@charset "utf-8";
#head {
    background-color: #E4F1E2;
    color: #184531;
}
#head dt,#head dd{
    margin-top: 3px;
}
#special {
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#special>a>img {
    width: 100%;
}
#special>.detail>h4>small {
    margin-left: 10px;
}
@media (min-width: 768px) {
    body{}
    #special>a>img {
        width: 100%;
        height: 100%;
    }
    #special>a{
        width: 30%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }
    #special>.detail {
        max-width: 69%;
        display: inline-block;
        vertical-align: top;
        padding-left: 8px;
    }
}